[submodule "processing-js"]
	path = processing-js
	url = https://github.com/jeresig/processing-js.git
[submodule "labs/peg-game-js"]
	path = labs/peg-game-js
	url = https://gist.github.com/793815.git
[submodule "binary"]
	path = binary
	url = https://github.com/jadonk/node-binary.git
